:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding-inline: 2rem;
}

#cities-nav {
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  --color: #9e9e9e;
  --color-hover: #447eae;
  --color-active: black;
  --underline-left: 0;
  --underline-width: 0;
  --underline-top: 0;
  --underline-transition: all 300ms ease-out;
}

#cities-nav::after {
  content: "";
  position: absolute;
  height: 1px;
  transform: scaleY(1.3);
  left: var(--underline-left);
  width: var(--underline-width);
  top: var(--underline-top);
  background: var(--color-active);
  transition: var(--underline-transition);
}

#cities {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.city {
  padding-block: 0.7em;
  text-align: center;
  color: var(--color);
  cursor: pointer;
}

.city:hover {
  color: var(--color-hover);
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: var(--color-active);
}

main {
  display: grid;
  place-items: center;
  margin-top: 10vmax;
}

.date-time {
  transition: opacity 1000ms ease, transform 1000ms ease;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: max(1.5vw, 12px);
  color: #1d1d1f; /* from apple.com --sk-headline-text-color */
}

.date-time * {
  margin: 0;
  background: linear-gradient(#57575c, #1d1d1f);
  background-clip: text;
  color: transparent;
}

.date-time__city {
  font-size: 2em;
}

.date-time__city,
.date-time__date {
  font-weight: 100;
}

.date-time__time {
  font-size: 6em;
}

.leave-to {
  opacity: 0;
  transform: translateY(10%);
  transition: all 500ms ease;
}

.enter-from {
  opacity: 0;
  transform: translateY(-20%);
}
