:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

#cities-nav {
  margin-inline: 2em;
  padding-inline: 4em;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  --color: #9e9e9e;
  --color-hover: #447eae;
  --color-active: black;
  --underline-left: 50%;
  --underline-width: 0;
  --underline-transition: all 300ms ease-out;
}

#cities-nav::after {
  content: "";
  position: absolute;
  height: 1px;
  transform: scaleY(1.3);
  left: var(--underline-left);
  width: var(--underline-width);
  background: var(--color-active);
  transition: var(--underline-transition);
}

#cities {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.city {
  padding-block: 0.7em;
  text-align: center;
  color: var(--color);
  cursor: pointer;
}

.city:hover {
  color: var(--color-hover);
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: var(--color-active);
}

#date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vmax;
  transition: all 100ms;
}

#time {
  margin-top: 3rem;
  font-size: 10vw;
  line-height: 0;
}

.leave-to {
  opacity: 0;
  transform: translateY(10%);
}

.enter-from {
  opacity: 0;
  transform: translateY(-10%);
}
